<div class="form-group">
    <label for="{{id}}-type">Type</label>
    <input type="hidden" class="form-control {{id}}-field" id="{{id}}-type-id" value="{{data.typeId}}" />
    <span class="help-block" id="{{id}}-type-id-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-old-box-id">Old Box</label>
    <input type="hidden" class="form-control {{id}}-field" id="{{id}}-old-box-id" name="oldBoxId" value="{{data.oldBoxId}}" />
    <span class="help-block" id="{{id}}-old-box-id-message"></span>
</div>

<div class="form-group" id="{{id}}-new-box-group">
    <label for="{{id}}-new-box-id">New Box</label>
    <input type="hidden" class="form-control {{id}}-field" id="{{id}}-new-box-id" name="newBoxId" value="{{data.newBoxId}}" />
    <span class="help-block" id="{{id}}-new-box-id-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-script">Script to run</label>
    <input type="hidden" class="form-control {{id}}-field" id="{{id}}-script-id" value="{{data.scriptId}}" />
    <span class="help-block" id="{{id}}-script-message"></span>
</div>

<div class="form-group" id="{{id}}-device-group">
    <label for="{{id}}-device">Device</label>
    <input type="hidden" class="form-control {{id}}-field" id="{{id}}-device-id" value="{{data.deviceId}}" />
    <span class="help-block" id="{{id}}-device-message"></span>
</div>