<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{config.app.fullName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Sabre Site Monitoring Tool">
    <meta name="author" content="Duy Nguyen">
    <meta name="keyword" content="Sabre Health Check, Site Monitoring Tool">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link media="all" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link media="all" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.0/css/toastr.css"/>
    <link media="all" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.1.2/nprogress.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"/>

    <link media="all" rel="stylesheet" href="{{path}}/style.css"/>

    <link rel="shortcut icon" href="{{path}}/images/icon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{path}}/images/icon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{path}}/images/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{path}}/images/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{path}}/images/icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{path}}/images/icon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{path}}/images/icon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{path}}/images/icon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{path}}/images/icon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="{{path}}/images/icon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="{{path}}/images/icon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{path}}/images/icon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{path}}/images/icon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{path}}/images/icon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{path}}/images/icon/mstile-144x144.png">
    <meta name="msapplication-config" content="{{path}}/images/icon/browserconfig.xml">
    <script type="text/javascript">
        window.config = {
            name               : '{{config.app.name}}',
            fullName           : '{{config.app.fullName}}',
            version            : '{{pkg.version}}',
            apiBaseUrl         : '{{config.app.backend}}',
            baseUrl            : '{{config.app.frontend}}',
            user               : {{{user}}},
            types              : {{{types}}}
        };
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body role="document">
<div id="app-loading" style="text-align: center; top: 50%">{{config.app.fullName}} is loading. Please wait...</div>
<script data-main="{{path}}/init.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
</body>
</html>
