<div class="clearfix">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <input type="text" id="{{id}}-query" placeholder="Search" class="form-control" />
        </div>
        
        <div class="col-md-4 col-lg-4" id="{{id}}-types">
        </div>
        
        
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-right">
            <button class="btn btn-info" id="{{id}}-run-all"><i class="fa fa-play"></i> <span class="hidden-xs">Run All</span> </button>
            <button class="btn btn-warning hidden" id="{{id}}-stop"><i class="fa fa-stop"></i> <span class="hidden-xs">Stop</span>
            </button>
            <button class="btn btn-success" id="{{id}}-new"><i class="fa fa-plus"></i> <span class="hidden-xs">New Site</span>
            </button>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="row">
        <div class="btn-group col-xs-12 col-sm-12 hidden-md hidden-lg types full-width" data-toggle="buttons"></div>
    </div>
</div>
<div id="{{id}}-sites" class="sites"></div>