<div class="clearfix">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="text" id="{{id}}-query" placeholder="Search" class="form-control"/>        
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-right">
            <button class="btn btn-info" id="{{id}}-run-all"><i class="fa fa-play"></i> Run All</button>
            <button class="btn btn-warning hidden" id="{{id}}-stop"><i class="fa fa-stop"></i> Stop</button>
            <button class="btn btn-success" id="{{id}}-new"><i class="fa fa-plus"></i> New Site</button>
        </div>
    </div>
</div>
<div id="{{id}}-sites" class="sites"></div>