<div class="container">
    <form class="form-signin" id="{{id}}-form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="{{id}}-username" class="sr-only">Username</label>
        <input type="text" id="{{id}}-username" class="form-control username {{id}}-field" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="{{id}}-password" class="form-control password {{id}}-field" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block submit" id="{{id}}-submit" type="submit">Sign in</button>
    </form>
</div>