<div class="page-header">
    <div class="pull-right">
        <a href="#index/edit" class="btn btn-success"><i class="fa fa-plus"></i> New</a>
    </div>
    <h1 class="first">Jobs</h1>
</div>
<div class="page-body">
    <div class="form-horizontal well well-small">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="{{id}}-old-box-ids">Old Version URL</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control" id="{{id}}-old-box-ids" name="oldUrl" value="{{oldBoxIds}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="{{id}}-new-box-ids">New Version URL</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control" id="{{id}}-new-box-ids"   value="{{newBoxIds}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="{{id}}-script-ids">Script to run</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control" id="{{id}}-script-ids"  value="{{scriptIds}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="{{id}}-device-ids" >Device</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control" id="{{id}}-device-ids"   value="{{deviceIds}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="{{id}}-statuses" >Status</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control" id="{{id}}-statuses" value="{{statuses}}"/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="{{id}}-search" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
        <input type="hidden" id="{{id}}-page" value="{{page}}" />
        <input type="hidden" id="{{id}}-per-page" value="{{perPage}}" />
    </div>

    
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Status</th>
            <th class="hidden-xs hidden-sm">Date Created</th>
            <th>Last Updated</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="{{../id}}-tbody">
        {{#each data}}
            <tr data-id="{{this.id}}">
                <td>{{this.id}}</td>
                <td>
                    <dl>
                      <dt>Old URL</dt>
                      <dd>{{this.oldBox.url}}</dd>
                      <dt>New URL</dt>
                      <dd>{{this.newBox.url}}</dd>
                      <dt>Device</dt>
                      <dd>{{this.device.name}}</dd>
                      <dt>Script</dt>
                      <dd>{{this.script.path}}</dd>
                    </dl>
                </td>
                <td>{{this.statusName}}</td>
                <td class="hidden-xs hidden-sm">{{formatDateTime this.createdAt}}</td>
                <td>{{fromNow this.updatedAt}}</td>
                <td>
                    <a href="#index/view/id/{{this.id}}"
                       class="btn btn-default"><i
                            class="fa fa-search-plus"></i> <span  class="hidden-xs hidden-sm">View</span></a>
                </td>
            </tr>
        {{else}}
            <tr class="warning">
                <td colspan="5" class="text-center">The list of jobs is empty!</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <ul class="pager">
        <li class="previous {{#if previousDisabled}}disabled{{/if}}"><a {{#if previousDisabled}}disabled{{/if}} href="#" class="{{id}}-pager" data-direction="prev">&larr; Previous</a></li>
        <li class="next {{#if nextDisabled}}disabled{{/if}}"><a {{#if nextDisabled}}disabled{{/if}} href="#" class="{{id}}-pager" data-direction="next">Next &rarr;</a></li>
    </ul>
</div>
