
<div class="form-group">
    <label for="{{id}}-name">Name</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-name" value="{{data.name}}" />
    <span class="help-block" id="{{id}}-name-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-type">Type</label>
    <input type="hidden" class="form-control {{id}}-field" id="{{id}}-type-id" value="{{data.typeId}}" />
    <span class="help-block" id="{{id}}-type-id-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-code">Script to run <small class="pull-right">(Use <a href="#" id="{{id}}-template">template</a>)</small></label>
    <div id="{{id}}-code" class="code">{{data.code}}</div>
    <span class="help-block" id="{{id}}-code-message"></span>
</div>
