<div class="page-header">
    <div class="pull-right" id="{{id}}-head-toolbar">{{{headToolbar}}}</div>
    <h1 class="first">{{pageName}}</h1>
</div>
<div class="page-body">
    <div id="{{id}}-filter"></div>
    <div id="{{id}}-result"></div>
    <div id="{{id}}-pager"></div>
    <!--<ul class="pager">-->
    <!--    <li class="previous {{#if previousDisabled}}disabled{{/if}}"><a {{#if previousDisabled}}disabled{{/if}} href="#" class="{{id}}-pager" data-direction="prev">&larr; Previous</a></li>-->
    <!--    <li class="next {{#if nextDisabled}}disabled{{/if}}"><a {{#if nextDisabled}}disabled{{/if}} href="#" class="{{id}}-pager" data-direction="next">Next &rarr;</a></li>-->
    <!--</ul>-->
</div>
