<div class="form-group">
    <label for="{{id}}-type">Name</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-name" value="{{data.name}}" />
    <span class="help-block" id="{{id}}-name-message"></span>
</div>

<div class="form-group">
    <label for="{{id}}-type">Start URL</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-url" value="{{data.url}}" />
    <span class="help-block" id="{{id}}-url-message"></span>
</div>