<section id="container">
    <header id="{{id}}-nav" class="navbar navbar-default navbar-fixed-top header black-bg" role="navigation">
    </header>
    
    <section class="wrapper">
        <div class="controller">
            <div class="main action">
                <div id="{{id}}-main-panel" class="main-container card">
                </div>
            </div>
        </div>
    </section>

    <footer id="{{id}}-footer" class="site-footer footer hidden">
        <div class="text-center copyright">{{name}}
            <small>v{{version}}</small>
        </div>
    </footer>
</section>

