<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"></a>
        <h3 class="navbar-left">Health <strong>check</strong></h3>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-md hidden-lg hidden-sm">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <button class="btn btn-success btn-block" id="{{id}}-run-all">
                            <span>Run All</span> <i class="fa fa-angle-right"></i>
                        </button>
                        <button class="btn btn-danger btn-block hidden" id="{{id}}-stop">
                            <span>Stop</span> <i class="fa fa-stop"></i>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <button class="btn btn-success btn-block" id="{{id}}-new">
                            <span>New Site</span> <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="hidden-xs">
                <button class="btn btn-success" id="{{id}}-run-all">
                    <span>Run All</span> <i class="fa fa-angle-right"></i>
                </button>
                <button class="btn btn-danger hidden" id="{{id}}-stop">
                    <span>Stop</span> <i class="fa fa-stop"></i>
                </button>
            </li>
            <li class="hidden-xs">
                <button class="btn btn-success" id="{{id}}-new">
                    <span>New Site</span> <i class="fa fa-plus"></i>
                </button>
            </li>
        </ul>
        <form class="navbar-form navbar-right">
            <div class="input-group">
                <span class="input-group-addon" id="search-icon"><i class="fa fa-search"></i></span>
                <input id="{{id}}-query" type="text" class="form-control search-input" placeholder="Search" aria-describedby="search-icon">
            </div>
        </form>
    </div><!--/.navbar-collapse -->
</div>