<div class="navbar-inner">
    <div class="header-seperation">
        <a href="index.html">
            <img src="{{path}}/images/sabre.png" class="logo" alt="" height="50">
        </a>
    </div>
    <div class="header-quick-nav text-center">
        <h3 class="pull-left">Health <strong>check</strong></h3>
        <ul class="nav quick-section pull-right">
            <li class="m-r-10 input-prepend inside search-form no-boarder">
                <span class="add-on">
                    <span class="fa fa-search"></span>
                </span>
                <input id="{{id}}-query" type="text" class="no-boarder new-ui-input" placeholder="Search" style="width:250px;">
            </li>
            <li class="btn-li">
                <button class="btn btn-info" id="{{id}}-run-all">
                    <i class="fa fa-play"></i> <span class="hidden-xs">Run All</span>
                </button>
                <button class="btn btn-warning hidden" id="{{id}}-stop">
                    <i class="fa fa-stop"></i> <span class="hidden-xs">Stop</span>
                </button>
            </li>
            <li class="btn-li">
                <button class="btn btn-success" id="{{id}}-new">
                    <i class="fa fa-plus"></i> <span class="hidden-xs">New Site</span>
                </button>
            </li>
        </ul>
    </div>
</div>