<form role="form">
    <div class="form-group">
        <input type="text" class="form-control {{id}}-field" id="{{id}}-name" placeholder="Name" value="{{data.name}}">
    </div>
    <div class="form-group">
        <input type="text" maxlength="2" class="form-control {{id}}-field" id="{{id}}-abbr" placeholder="Abbreviation" value="{{data.abbr}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control {{id}}-field" id="{{id}}-url" placeholder="URL" value="{{data.url}}">
    </div>
</form>

<div id="{{id}}-modules">
    
</div>