<div class="panel {{panelClass}} airline">
  <div class="panel-heading">
    {{#if isRunning}}
    <i class="fa fa-spinner fa-spin text-warning pull-right"></i> {{/if}}
    
    <span class="text-nowrap"><code class="abbr">{{airline.abbr}}</code> {{airline.name}}</span> {{#if airline.executedAt}}
    <div class="text-muted last-executed-at">
      <span class="text-nowrap">{{formatDateTime airline.executedAt}}</span> <span class="text-nowrap">({{fromNow airline.executedAt}})</span>
    </div>
    {{/if}}
  </div>
  <div class="panel-body">
    <ul class="list-group modules">
      {{#each modules}}
      <li class="list-group-item module">
        <span class="pull-right">
        {{#if this.isRunning}}
        <i class="fa fa-spinner fa-spin text-warning"></i>
        {{/if}}
        
        {{#if this.isError}}
        <i class="fa fa-exclamation-circle text-danger"></i>
        {{/if}}
        
        {{#if this.isOK}}
        <i class="fa fa-check-circle text-success"></i>
        {{/if}}
        
        {{#if this.isNotStarted}}
        <i class="fa fa-certificate"></i>
        {{/if}}
      </span> {{this.name}}
      </li>
      {{else}}
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> There is no modules added!</div>
      {{/each}}
    </ul>
  </div>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-xs btn-success btn-block" id="{{id}}-run" data-id="{{airline.id}}" {{#if isRunning}}disabled{{/if}}><i class="fa fa-play"></i>
        </button>
      </div>

      <div class="btn-group" role="group">
        <button class="btn btn-xs btn-default" id="{{id}}-edit" data-id="{{airline.id}}" title="Edit Airline Information" {{#if isRunning}}disabled{{/if}}><i class="fa fa-pencil"></i>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-xs btn-default" id="{{id}}-show-schedule" data-id="{{airline.id}}" title="Edit Execution Schedule" {{#if isRunning}}disabled{{/if}}><i class="fa fa-calendar"></i>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-xs btn-default" id="{{id}}-show-modules" data-id="{{airline.id}}" title="Edit Modules" {{#if isRunning}}disabled{{/if}}><i class="fa fa-list-ul"></i>
        </button>
      </div>
    </div>
  </div>
</div>