<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name & Script</th>
      <th style="width: 150px">
        <button class="btn btn-sm btn-success btn-block" id="{{id}}-new"><i class="fa fa-plus"></i> New Step</button>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each steps}}
    <tr>
      <td>{{this.id}}</td>
      <td>
        <input type="text" data-id="{{this.id}}" class="form-control {{../id}}-name" placeholder="Step Name" value="{{this.name}}" />
        <div id="{{../id}}-script-{{this.id}}" data-id="{{this.id}}" class="{{../id}}-script" style="height:10em;">{{this.script}}</div>
      </td>
      <td>

        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button class="btn btn-xs btn-default {{../id}}-move" data-index="{{@index}}" data-direction="first" data-id="{{this.id}}" title="Move to first"><i class="fa fa-angle-double-up"></i>
            </button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-xs btn-default {{../id}}-move" data-index="{{@index}}" data-direction="up" data-id="{{this.id}}" title="Move up"><i class="fa fa-angle-up"></i>
            </button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-xs btn-default {{../id}}-move" data-index="{{@index}}" data-direction="down" data-id="{{this.id}}" title="Move down"><i class="fa fa-angle-down"></i>
            </button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-xs btn-default {{../id}}-move" data-index="{{@index}}" data-direction="last" data-id="{{this.id}}" title="Move to last"><i class="fa fa-angle-double-down"></i>
            </button>
          </div>
        </div>
        <div>
          <button class="btn btn-xs btn-block btn-danger {{../id}}-remove" data-id="{{this.id}}"><i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>