
{{#each modules}}
    <tr>
        <td>
            <input type="checkbox" data-index="{{@index}}" id="{{../id}}-module-checkbox-{{id}}" class="{{../id}}-module-checkbox" {{#if this.isEnabled}} checked {{/if}} />
        </td>
        <td>
            <input type="text" value="{{this.name}}" data-index="{{@index}}" class="form-control input-sm {{../id}}-name" />
        </td>
        <td>
            <input type="text" value="{{this.abbreviation}}" data-index="{{@index}}" class="form-control input-sm {{../id}}-abbreviation" maxlength="3"/>
        </td>
        <td class="text-nowrap">
            <button class="btn btn-xs btn-default {{../id}}-code" data-index="{{@index}}">
                <i class="fa fa-code"></i>
            </button>
            <button class="btn btn-xs btn-danger {{../id}}-remove" data-index="{{@index}}">
                <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-xs btn-info {{../id}}-view-log" data-index="{{_id}}">
                <i class="fa fa-list-alt"></i>
            </button>
        </td>
    </tr>
{{/each}}