<div class="clearfix">
    {{#each modules}}
    <div class="text-center {{../id}}-module" data-index="{{_id}}">{{abbreviation}}</div>
    {{else}}
    <span class="text-center">There are no modules.</span>
    {{/each}}
</div>
<div class="clearfix">
    {{#each modules}}
    <div class="text-center {{../id}}-module" data-index="{{_id}}"><i class="status fa {{iconClass}}"></i></div>
    {{else}}
    {{/each}}
</div>