<form role="form">
    <div class="form-group">
        <label for="{{id}}-name">Name</label>
        <input type="text" class="form-control {{id}}-field" id="{{id}}-name" placeholder="Name" value="{{data.name}}">
    </div>
    <div class="form-group">
        <label for="{{id}}-type">Type</label>
        <select class="form-control {{id}}-field" id="{{id}}-type-id">
            {{#each types}}
            <option value="{{this.id}}" {{#if this.isSelected}}selected{{/if}} >{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="{{id}}-name">Tags</label>
        <input type="text" class="form-control {{id}}-field" id="{{id}}-tags" placeholder="Tags" value="{{data.tags}}">
    </div>
    <div class="form-group">
        <label for="{{id}}-notification-receiver-emails">Schedule (<a href="https://github.com/matthewmueller/date#examples" target="_blank">See possible values</a>)</label>
        <input type="text" class="form-control {{id}}-field" id="{{id}}-schedule" placeholder="Enter schedule for this site to run" value="{{data.schedule}}">
    </div>
    <div class="form-group">
        <label for="{{id}}-notification-receiver-emails">Notification Receiver Emails</label>
        <input type="text" class="form-control {{id}}-field" id="{{id}}-notification-receiver-emails" placeholder="Comma separated email addresses which error notifications will be sent to" value="{{data.notificationReceiverEmails}}">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="{{id}}-field" id="{{id}}-send-email-when-module-fails" {{#if data.sendEmailWhenModuleFails}}checked{{/if}} value="{{data.sendEmailWhenModuleFails}}"/> Send email only if the module fails
            </label>
        </div>
    </div>
</form>
