<div class="col-lg-4 col-md-6 table-data">
    <div class="data-row">
        <div class="name" id="{{id}}-name">{{data.name}}</div>
        <div class="last-run" id="{{id}}{{lastExecuted}}">Last run: {{lastExecuted}}</div>
        <div class="details" id="{{id}}-modules"></div>
        <footer>
            <div class="btn-group" role="group">
                <button class="btn btn-white btn-xs btn-mini" id="{{id}}-edit"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-white btn-xs btn-mini" id="{{id}}-show-modules"><i class="fa fa-list"></i> Modules</button>
            </div>
            <button type="button" class="pull-right btn btn-primary btn-xs btn-mini hidden" id="{{id}}-run"><span class="hidden-xs">Run</span> <i class="fa fa-play"></i></button>
            <button type="button" class="pull-right btn btn-danger btn-xs btn-mini hidden" id="{{id}}-stop"><span class="hidden-xs">Stop <i class="fa fa-stop"></i></button>
        </footer>
    </div>
</div>