<li class="active" role="categories">
    <a href="#all" role="tab" data-toggle="tab" aria-controls="all" class="{{id}}-show-all">All</a>
</li>
{{#each types}}
<li role="categories">
    <a href="#{{this.name}}" class="{{../id}}-button" role="tab" data-toggle="tab" aria-controls="{{this.name}}" data-id="{{this.id}}">{{this.name}}</a>
</li>
{{/each}}